nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b0c4de;
  align-items: center;
}

.logo img {
  padding: 10px;
  width: 100px;
  height: 100px;
  margin-left: 80px;
}
